body {
    color: white;
    background: rgb(216, 31, 176);
}

head {
    border-bottom: solid 2px rgb(216, 31, 176);
    padding: 20px;
    font-size: 32px;
    color: rgb(216, 31, 176);
}

.chamada {
    background: black;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
img {
    height: 200px;
}
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid blueviolet;
}

.categoria h2 {
    color: rgb(216, 31, 176);
}